body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
}

/* Navbar */

.nav{
  display:flex;
  justify-content:space-between;
  padding:20px 60px;
  background:#020617;
}

.nav ul{
  display:flex;
  list-style:none;
  gap:30px;
}

/* Hero */

.hero{
  text-align:center;
  padding:120px 20px;
}

.hero h1{
  font-size:48px;
}

.hero p{
  color:#94a3b8;
}

.hero button{
  margin-top:20px;
  padding:12px 25px;
  background:#38bdf8;
  border:none;
  color:white;
  font-size:16px;
  cursor:pointer;
  border-radius:6px;
}

a {
    color: white;      
    text-decoration: none; 
    
  }

  a:hover {
    text-decoration: underline; 
  }

/* Sections */

.section{
  padding:80px 60px;
  text-align:center;
}

/* Skills */

.skills{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
}

.skills span{
  background:#1e293b;
  padding:10px 20px;
  border-radius:6px;
}

/* Projects */

.projects{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:25px;
  width:250px;
  border-radius:8px;
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

/* Contact */

.contact p{
  color:#94a3b8;
}